@import 'tailwindcss';
@import 'tw-animate-css';
@import 'tailwind-scrollbar-hide/v4';

/*---break---*/
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /*--- color ---*/
  --color-black-17171C: #17171c;
  --color-black-1c1c22: #1c1c22; /* 시안의 배경색? 입니다 */
  --color-black-21212a: #21212a;
  --color-black-2e2e3a: #2e2e3a;
  --color-black-353542: #353542;
  --color-black-252530: #252530;
  --color-black-6e6e82: #6e6e82;

  --color-gray-6e6e82: #6e6e82;
  --color-gray-9fa6b2: #9fa6b2;
  --color-white-f1f1f5: #f1f1f5;

  --background-image-main-gradation: linear-gradient(90deg, #5097fa 0%, #5363ff 100%);
  --color-main-blue: #5097fa;
  --color-main-indigo: #5363ff;

  --color-yellow-ffc83c: #ffc83c;
  --color-green-05d58b: #05d58b;
  --color-pink-ff2f9f: #ff2f9f;
  --color-red-ff0000: #ff0000;
}

@utility text-gradient {
  @apply bg-main-gradation bg-clip-text text-transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE와 Edge를 위한 숨기기 속성 */
  scrollbar-width: none;
}

.my-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 9999px;
}
.my-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* --- font --- */

@utility text-mogazoa-10px-300 {
  @apply text-[10px] font-light;
}

@utility text-mogazoa-10px-400 {
  @apply text-[10px] font-normal;
}

@utility text-mogazoa-12px-300 {
  @apply text-xs font-light;
}

@utility text-mogazoa-12px-400 {
  @apply text-xs font-normal;
}

@utility text-mogazoa-14px-300 {
  @apply text-sm font-light;
}

@utility text-mogazoa-14px-400 {
  @apply text-sm font-normal;
}

@utility text-mogazoa-14px-500 {
  @apply text-sm font-medium;
}

@utility text-mogazoa-16px-300 {
  @apply text-base font-light;
}

@utility text-mogazoa-16px-400 {
  @apply text-base font-normal;
}

@utility text-mogazoa-16px-500 {
  @apply text-base font-medium;
}

@utility text-mogazoa-16px-600 {
  @apply text-base font-semibold;
}

@utility text-mogazoa-18px-400 {
  @apply text-lg font-normal;
}

@utility text-mogazoa-18px-500 {
  @apply text-lg font-medium;
}

@utility text-mogazoa-18px-600 {
  @apply text-lg font-semibold;
}

@utility text-mogazoa-20px-300 {
  @apply text-xl font-light;
}

@utility text-mogazoa-20px-400 {
  @apply text-xl font-normal;
}

@utility text-mogazoa-20px-600 {
  @apply text-xl leading-7 font-semibold;
}

@utility text-mogazoa-24px-300 {
  @apply text-2xl font-light;
}

@utility text-mogazoa-24px-400 {
  @apply text-2xl font-normal;
}

@utility text-mogazoa-24px-600 {
  @apply text-2xl font-semibold;
}

/*---break---*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---*/

:root {
  --radius: 0.625rem;
  --background: #1c1c22;
  --foreground: #f1f1f5;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*---break---*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

html {
  scrollbar-gutter: stable; /* 스크롤바가 생길 때 레이아웃이 움직이는 현상 방지 */
}

body {
  font-family: var(--font-pretendard);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #252530 inset;
  -webkit-text-fill-color: #f1f1f5 !important;
  color: #f1f1f5 !important;
  caret-color: #f1f1f5;
}
