@import 'tailwindcss';

:root {
  --background: #1c1c22;
  --foreground: #f1f1f5;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /*--- color ---*/
  --color-black-17171C: #17171c;
  --color-black-1c1c22: #1c1c22; /* 시안의 배경색? 입니다 */
  --color-black-21212a: #21212a;
  --color-black-2e2e3a: #2e2e3a;
  --color-black-353542: #353542; /* disabled bg for primary button / cards border color*/

  --color-gray-6e6e82: #6e6e82;
  --color-gray-9fa6b2: #9fa6b2;
  --color-white-f1f1f5: #f1f1f5;

  --background-image-main-gradation: linear-gradient(90deg, #5097fa 0%, #5363ff 100%);
  --color-main-blue: #5097fa;
  --color-main-indigo: #5363ff;

  --color-yellow-ffc83c: #ffc83c;
  --color-green-05d58b: #05d58b;
  --color-pink-ff2f9f: #ff2f9f;
  --color-red-ff0000: #ff0000;
}

@utility text-gradient {
  @apply bg-main-gradation bg-clip-text text-transparent;
}

/* --- font --- */

@utility text-mogazoa-10px-300 {
  @apply text-[10px] font-light;
}

@utility text-mogazoa-10px-400 {
  @apply text-[10px] font-normal;
}

@utility text-mogazoa-12px-300 {
  @apply text-xs font-light;
}

@utility text-mogazoa-12px-400 {
  @apply text-xs font-normal;
}

@utility text-mogazoa-14px-300 {
  @apply text-sm font-light;
}

@utility text-mogazoa-14px-400 {
  @apply text-sm font-normal;
}

@utility text-mogazoa-14px-500 {
  @apply text-sm font-medium;
}

@utility text-mogazoa-16px-300 {
  @apply text-base font-light;
}

@utility text-mogazoa-16px-400 {
  @apply text-base font-normal;
}

@utility text-mogazoa-16px-500 {
  @apply text-base font-medium;
}

@utility text-mogazoa-16px-600 {
  @apply text-base font-semibold;
}

@utility text-mogazoa-18px-400 {
  @apply text-lg font-normal;
}

@utility text-mogazoa-18px-500 {
  @apply text-lg font-medium;
}

@utility text-mogazoa-18px-600 {
  @apply text-lg font-semibold;
}

@utility text-mogazoa-20px-300 {
  @apply text-xl font-light;
}

@utility text-mogazoa-20px-400 {
  @apply text-xl font-normal;
}

@utility text-mogazoa-20px-600 {
  @apply text-xl leading-7 font-semibold;
}

@utility text-mogazoa-24px-300 {
  @apply text-2xl font-light;
}

@utility text-mogazoa-24px-400 {
  @apply text-2xl font-normal;
}

@utility text-mogazoa-24px-600 {
  @apply text-2xl font-semibold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
